@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
$primary: #313131;
$secondary: #fde21c;
$tertiary: #506df5;
$darkblue: #012f5b;
$lightgray: #d3d3d3;
$text: #585858;
$white: #fff;
$black: #000000;
$orange: #fd830f;
$fontSize: 16px;
$fontFamily: 'Montserrat', sans-serif;
$transition: .4s ease;
$padding: 4rem 0;
/*****************
mixins
*****************/
@mixin flex ($justify, $align, $direction, $wrap){
    display: flex;
    justify-content: $justify;
    align-items:$align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
@mixin btn($bg, $borders, $color, $txtTransform) {
    padding: 15px 30px;
    background: $bg;
    border: $borders;
    color: $color;
    text-transform: $txtTransform;
    font-size: 1rem;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
        background: $white;
        border: 2px solid $white;
        color: $primary;
        transition: $transition;
    }
}
@mixin img($height) {
    height: $height;
    background-position: center;
    background-size: cover;
}
/*****************
basic styles
*****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $fontSize;
    font-family: $fontFamily;
    color: $black;
}
.container {
    max-width: 1140px;
    margin: auto;
}
/*****************
nav
*****************/
nav {
    background: $primary;
    color: $white;
    padding: 10px 30px;
    @include flex(space-between, center, row, wrap);
    div:nth-child(1) {
        flex: 1;
        img {
            width: 80px;
        }
        @include flex(flex-start, center, row, wrap);
        a {
            color: $white;
            text-decoration: none;
            font-weight: 600;
            margin-left: 20px;
            font-size: 1.3rem;
            &:hover {
                color: $lightgray;
            }
        }
    }
    div:nth-child(2) {
        flex: 1;
        @include flex(space-around, center, row, wrap);
        p {
            font-size: .8rem;
            font-weight: 600;
            text-align: center;
        }
    }
    div:nth-child(3) {
        flex: 1;
        @include flex(flex-end, center, row, wrap);
        button {
            @include btn(transparent, 2px solid $white, $white, none);
        }
    }
}
/*****************
mainHeader
*****************/
.mainHeader {
    background-image: linear-gradient(rgba($black, .6), rgba($black, .6)), url(../img/header.jpg);
    @include flex(center, center, column, wrap);
    @include img(80vh);
    color: $white;
    h1 {
        font-size: 3rem;
    }
    p {
        text-align: center;
        padding: 30px 0;
    }
    div {
        @include flex(center, center, row, wrap);
        button:nth-child(1) {
            @include btn($tertiary, 2px solid $tertiary, $white, none);
            margin-right: 10px;
            &:hover {
                background: transparent;
                color: $tertiary;
                border: 2px solid $tertiary;
            }
        }
        button:nth-child(2) {
            @include btn(transparent, 2px solid $white, $white, none);
            margin-left: 10px;
        }
    }
}
/*****************
pricing
*****************/
.pricing {
    padding: $padding;
    @include flex(center, stretch, row, wrap);
    article {
        flex: 1;
        text-align: center;
        border: 1px solid $lightgray;
        padding: 2rem;
        &:hover {
            transform: scale(1.1);
            transition-duration: .2s;
            background: $white;
        }
        h2 {
            font-size: 2.5rem;
            font-weight: 300;
        }
        .prvi {
            color: $darkblue;
            font-size: 2rem;
        }
        .drugi {
            color: $darkblue;
            font-size: 5rem;
            font-weight: 300;
        }
        .treci {
            color: $text;
            font-size: 1.1rem;
        }
        p {
            color: $text;
            padding: 30px 0;
            font-size: .8rem;
        }
        button {
            @include btn(transparent, 2px solid $tertiary, $tertiary, transparent);
            &:hover {
                background: $tertiary;
                color: $white;
                border: 2px solid $tertiary;
            }
        }
    }
}






